:root {
    --purple:#6070FF;
    --light-purple:#EBEBFF;
    --white: #ffffff;

    --main-font: 'Poppins', sans-serif
}

button:not(.navbar-toggler):hover {
    background-color: var(--purple) !important;
    color: var(--white) !important;
}

button:not(.navbar-toggler):active {
    background-color: #2230D2 !important;
    color: var(--white) !important;
}

html,body{overflow-x: hidden;}

.stopScroll {
    height: 100vh !important;
    overflow: hidden;
}


/* global */

.navbar {
    background-color: white !important;
    font-family: var(--main-font);
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
    border: none;
    box-shadow: none;
}

.navbar-brand,
.navbar-brand:hover {
    color: #6070FF;
    font-size: 18px;
    font-weight: bold;
}

.navbar ul {
    font-size: 15px;
}

/* Headr */

body {
    background-color: #E5E5E5;
}

header {
    height: calc(100vh - 54.5px);
    font-family: var(--main-font);
    background-image: url(../Imgs2/Header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0 0 0 100px;
}

header div h2 {
    font-size: 48px;
    font-weight: bold;
    color: #091E42;
    max-width: 400px;
}

header p:first-of-type {
    color: #344563;
    font-size: 20px;
    max-width: 933px;
}

header .connect p {
    color: #7F8CFF;
    font-size: 16px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header ul li {
    padding: 0px 5px;
}

header ul li:first-of-type {
    padding: 0 10px 0 0;
}

/* Portfolio */

.portfolioSec {
    background-color: #E5E5E5;
    padding: 142px 0;
}

.portfolioSec .card {
    padding: 24px;
    border: 1px solid #DFE1E6;
    border-radius: 24px;  
    margin-bottom: 88px;
}

.portfolioSec .card:nth-of-type(1) .lang {
    width: 200px;
}

.portfolioSec .card:nth-of-type(2) .row {
    display: flex;
}

.portfolioSec .card:nth-of-type(2) .row .speImg {
    order: 2;
}

.portfolioSec .card:nth-of-type(4) .row {
    display: flex;
}

.portfolioSec .card:nth-of-type(4) .row .speImg {
    order: 2;
}

.portfolioSec .card:last-of-type {
    margin-bottom: 0px;
}

.portfolioSec .card .textBox {
    padding: 24px;
}

.portfolioSec .card .textBox h2 {
    color: #091E42;
    font-size: 40px;
    font-weight: bold;
}

.portfolioSec .card .textBox .job ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.portfolioSec .card .lang {
    list-style-type: none;
    display: flex;
    padding: 0;
    width: 300px;
    justify-content: space-between;
}

.portfolioSec .card .lang li {
    background: #EBEBFF;
    border-radius: 8px;
    color: var(--purple);
    padding: 5px 7px;
}

.portfolioSec .card button {
    color: #396DF2;
    padding: 8px;
    border: 1px solid #7F8CFF;
    border-radius: 8px;
    background-color: var(--white);
}

.aboutUs {
    background-color: white;
    padding: 142px 0;
    font-family: var(--main-font);
    min-height: 100vh;
    border-radius: 0 100px 0 0;
}


.aboutUs div h2 {
    font-size: 40px;
    font-weight: bold;
    color: #091E42;
    max-width: 400px;
}

.aboutUs p:first-of-type {
    color: #344563;
    font-size: 16px;
    max-width: 933px;
}

.aboutUs .connect p {
    color: #7F8CFF;
    font-size: 16px;
}

.aboutUs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.aboutUs ul li {
    padding: 0px 5px;

}

.aboutUs ul li:first-of-type {
    padding: 0 10px 0 0;
}

.aboutUs button {
    color: #396DF2;
    padding: 8px;
    border: 1px solid #7F8CFF;
    border-radius: 8px;
    background-color: var(--white);
}

.aboutUs .dropList .langDrop,
.aboutUs .dropList .skillDrop,
.aboutUs .dropList .framDrop {
    height: 40px;
    overflow: hidden;
    border-bottom: 1px solid #DFE1E6;
    position: relative;
    margin-bottom: 25px;
    transition: 0.3s ease-in-out;
}

.aboutUs .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    width: calc(100% - 10px);
}

.aboutUs .head p {
    margin: 0;
}

.aboutUs .dropList ul li {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F9;
    width: 110px;
    height: 100px;
    padding: 16px 12px;
    margin-right: 12px;
    border-radius: 8px;
    font-size: 15px;
}

.aboutUs .dropList ul li svg {
    width: fit-content;
    margin-bottom: 8px;
}

.arrow {
    transition: 0.1s;
}

/* contactUs */

.contactUs {
    padding: 142px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    background-image: url(../Imgs2/contact\ form\ background\ shapes@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px 0 0 0;
    position: relative;
    height: calc(100vh + 100px);
}

.contactUs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: -1;
    background-color: white;
}

.contactUs .text p {
    max-width: 570px;
    font-size: 20px;
}

.contactUs .text h2 {
    font-size: 40px;
}

.contactUs .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 430px;
}

form input {
    width: 450px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border:  none;
}

form textarea {
    width: 450px;
    padding: 5px;
    border-radius: 5px;
}

form button {
    color: #396DF2;
    padding: 8px;
    border: 1px solid #7F8CFF;
    border-radius: 8px;
    background-color: var(--white);
}


.popUp {
    height: 100vh;
    transform: translateX(-100%);
    position: absolute;
    z-index: 100;
    background-color: #6070FF;
    width: 100vw;
    padding: 28px;
    transition: 0.3s ease-in-out;
    mix-blend-mode: multiply;
}

.popUp .xHead {
    width: 100%;
    display:flex ;
    justify-content: flex-end;
    height: 40px;
}

.popUp ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    color: var(--white);
    font-size: 40px;
    font-weight: bold;
}

.popUp ul li {
    padding: 5px 0;
}

@media (max-width:776px) {
    header {
        background-image: url(../Imgs2/header-shapes\ mobile.png);
        border-radius: 0 0 0 50px;
    }

    header h2 {
        font-size: 40px !important;
    }

    header p:first-of-type {
        font-size: 16px;
    }

    header ul li {
        padding: 0 10px ;
    } 

    header ul li:first-of-type {
        padding: 0 10px 0 0;
    }

    .portfolioSec .card:nth-of-type(2) .row {
        display: block;
    }

    .portfolioSec .card:nth-of-type(4) .row {
        display: block;
    }

    .aboutUs {
        padding:  114px 0;
        border-radius: 0 50px 0 0;
    }

    .contactUs {
        background-image: url(../Imgs2/contact\ form\ shapes-mobile@2x.png);
        border-radius: 50px 0 0 0;
    } 

    form input {
        width: 90%;
    }

    
    form textarea {
        width: 90%;
    }

    .portfolioSec .card .textBox {
        padding: 24px 0;
    }
}


@media (max-width:996px) {

}

@media (min-width:1200px) {
    
}

